body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: green;
    color: orange;
    text-align: center;
    padding: 20px;
}

#navigation {
    background-color: green;
    padding: 10px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: orange;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#menu li {
    margin-right: 30px;
}

#menu li a {
    text-decoration: none;
    color: orange;
    padding: 15px;
    transition: background-color 0.3s ease;
}



.pizza-menu {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.pizza-item {
    border: 1px solid red;
    padding: 30px;
    margin: 20px;
    width: 300px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.pizza-item:hover {
    transform: scale(1.05);
}

h2 {
    color: #333;
}

.description {
    color: #555;
    margin-top: 15px;
}

.price {
    color: orangered;
    font-weight: bold;
    margin-top: 10px;
}


#cart {
    background-color: orange;
    padding: 5px;
    border: 1px solid red;
    border-radius: 4px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cart h2 {
    color: red;
    margin-bottom: 10px;
}

#cartItems {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cartItems li {
    margin-bottom: 10px;
    color: #555;
}

#cartTotal {
    margin-top: 10px;
    color: orangered;
    font-weight: bold;
}


footer {
    background-color: green;
    color: orange;
    text-align: center;
    padding: 20px;
}
