#navigation {
    background-color: green;
    padding: 10px;
  }
  
  #menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #menu li {
    margin-right: 10px;
  }
  
  #menu li a {
    text-decoration: none;
    color: red;
    padding: 5px;
  }
  
  #menu li a:hover {
    background-color:#ddd;
  }
  